<a href="https://colab.research.google.com/github/Naveenrajkumar1389/EDA/blob/main/Data_transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd
import numpy as np
from scipy import stats
df= pd.read_csv('/content/bike_buyers.csv')
total_rows =len(df)
print(total_rows)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
1000

In [ ]:
print(df.isnull().sum())

ID                   0
Marital Status       7
Gender              11
Income               6
Children             8
Education            0
Occupation           0
Home Owner           4
Cars                 9
Commute Distance     0
Region               0
Age                  8
Purchased Bike       0
dtype: int64

In [ ]:
df['Income'].fillna(df['Income'].mean(),inplace =True)
df['Cars'].fillna(df['Cars'].mean(),inplace =True)
df['Age'].fillna(df['Age'].mean(),inplace =True)
df['Children'].fillna(df['Children'].mean(),inplace =True)
print(len(df))

978

In [ ]:
print(df.isnull().sum())

ID                   0
Marital Status       7
Gender              11
Income               0
Children             0
Education            0
Occupation           0
Home Owner           4
Cars                 0
Commute Distance     0
Region               0
Age                  0
Purchased Bike       0
dtype: int64

In [ ]:
print(df.describe())

                 ID         Income     Children         Cars          Age
count   1000.000000    1000.000000  1000.000000  1000.000000  1000.000000
mean   19965.992000   56267.605634     1.910282     1.455096    44.181452
std     5347.333948   30974.380206     1.620383     1.116691    11.316422
min    11000.000000   10000.000000     0.000000     0.000000    25.000000
25%    15290.750000   30000.000000     0.000000     1.000000    35.000000
50%    19744.000000   60000.000000     2.000000     1.000000    43.000000
75%    24470.750000   70000.000000     3.000000     2.000000    52.000000
max    29447.000000  170000.000000     5.000000     4.000000    89.000000

In [ ]:
aggregated_data = df.groupby('Gender')['Income'].mean()
print(aggregated_data)

Gender
Female    54661.190965
Male      57560.483871
Name: Income, dtype: float64

In [ ]:
aggregated_data = df.groupby('Occupation')['Income'].mean()
print(aggregated_data)

Occupation
Clerical          31022.727273
Management        86647.398844
Manual            15086.206897
Professional      75054.545455
Skilled Manual    51535.433071
Name: Income, dtype: float64

In [ ]:
print(df.isnull().sum())

ID                  0
Marital Status      0
Gender              0
Income              0
Children            0
Education           0
Occupation          0
Home Owner          0
Cars                0
Commute Distance    0
Region              0
Age                 0
Purchased Bike      0
dtype: int64

In [ ]:
df=df.dropna()
print("Total rows after eliminate missing values:",len(df))
print(df.isnull().sum())

Total rows after eliminate missing values: 978
ID                  0
Marital Status      0
Gender              0
Income              0
Children            0
Education           0
Occupation          0
Home Owner          0
Cars                0
Commute Distance    0
Region              0
Age                 0
Purchased Bike      0
dtype: int64

In [ ]:
#df=df.drop_duplicates()
print(len(df))

978

In [ ]:
z_scores=stats.zscore(df['Income'])
df=df[(z_scores<3)]
print(len(df))

969

In [ ]:
filtered_data=df[df['Income']>100000]
print(len(filtered_data))

65

In [ ]:
unique_values=df['Gender'].unique()
print(unique_values)

['Female' 'Male']

In [ ]:
a=(df['Income']>100000) & (df['Gender']=="Male")
print(len(a))

969

In [ ]:
unique_values=df['Occupation'].unique()
print(unique_values)

['Skilled Manual' 'Clerical' 'Professional' 'Manual' 'Management']

In [ ]:
agg_data = df.groupby('Gender')['Age'].mean()
print(agg_data)

Gender
Female    44.181250
Male      44.196531
Name: Age, dtype: float64

In [ ]:
agg_data = df.groupby('Gender')['Income'].mean()
print(agg_data)

Gender
Female    53921.554274
Male      56178.422997
Name: Income, dtype: float64

In [ ]:
one_hot_encode = pd.get_dummies(df,columns=['Gender'])
df1=one_hot_encode
#print(one_hot_encode)
print(df1.head(5))

      ID Marital Status   Income  Children        Education      Occupation  \
0  12496        Married  40000.0       1.0        Bachelors  Skilled Manual
1  24107        Married  30000.0       3.0  Partial College        Clerical
2  14177        Married  80000.0       5.0  Partial College    Professional
4  25597         Single  30000.0       0.0        Bachelors        Clerical
5  13507        Married  10000.0       2.0  Partial College          Manual

  Home Owner  Cars Commute Distance  Region   Age Purchased Bike  \
0        Yes   0.0        0-1 Miles  Europe  42.0             No
1        Yes   1.0        0-1 Miles  Europe  43.0             No
2         No   2.0        2-5 Miles  Europe  60.0             No
4         No   0.0        0-1 Miles  Europe  36.0            Yes
5        Yes   0.0        1-2 Miles  Europe  50.0             No

   Gender_Female  Gender_Male
0              1            0
1              0            1
2              0            1
4              0            1
5              1            0

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_Encoder = LabelEncoder()
df['encoded_column'] = label_Encoder.fit_transform(df['Occupation'])
print(df['encoded_column'].unique())

[4 0 3 2 1]

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_Encoder = LabelEncoder()
encoded_values = label_Encoder.fit_transform(df['Occupation'])
unique_encoded_values = set(encoded_values)
for encoded_values in unique_encoded_values:
  category = label_Encoder.inverse_transform([encoded_values])[0]
  print(f"Encoded value: {encoded_values}, Category: {category}")

Encoded value: 0, Category: Clerical
Encoded value: 1, Category: Management
Encoded value: 2, Category: Manual
Encoded value: 3, Category: Professional
Encoded value: 4, Category: Skilled Manual